:root {
    /* colors */
    --clr-body: 0 0% 8%;
    --clr-off-white: 0 0% 86%;
    --clr-zgz-barbell-white: 0 0% 100%;
    --clr-zgz-barbell-red: 2 79% 42%;
    --clr-zgz-barbell-red-hover: 2 79% 52%;
    --clr-zgz-barbell-black: 0 0% 0%;
    --clr-outer-dark: 227 11% 15%;
    --clr-outer-dark: 227 11% 15%;
    --clr-info-dark: 231 12% 12%;
    --clr-footer-dark: 0 0% 20%;
    --clr-footer-icons: 0 0% 50%;
    --clr-stack: 25 79% 78%;

    /* font sizes */
    --fs-700: 1.75rem;
}

.ReactModal__Overlay {
    z-index: 9999;

    .ReactModal__Content {
        background-color: hsl(var(--clr-zgz-barbell-black));
        color: hsl(var(--clr-zgz-barbell-red));
        opacity: 0.9;
    }
}

.carousel {
    img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: hsl(var(--clr-zgz-barbell-red));
    }

    .carousel-control-prev,
    .carousel-control-next {
        color: hsl(var(--clr-zgz-barbell-red));
        width: 30%;
        height: 90%;
    }

    .carousel-indicators [data-bs-target] {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 30px;
        height: 3px;
        padding: 0;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #C01D16;
        background-clip: padding-box;
        border: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: 0.5;
        transition: opacity 0.6s ease;
    }

    .fullscreen-video {
        min-width: 100%;
        min-height: 100%;
        width: 100vh;
        height: 100vh;
      }
}

#carousel::before,
#team::before {
    content: "";
    display: block;
    height: 10vh;
    margin-top: -10vh;
    visibility: hidden;
}

.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 20px;
    border-radius: 10%;
    padding: 10px;
    z-index: 9999;
    font-size: 20px;
}

.btn-arrow-up,
.btn-instagram {
    color: hsl(var(--clr-zgz-barbell-white));
    background-color: hsl(var(--clr-zgz-barbell-red));
    border: none;
    cursor: pointer;
  }
  
  .btn-arrow-up:hover,
  .btn-instagram:hover {
    color: hsl(var(--clr-zgz-barbell-white));
    background-color: hsl(var(--clr-zgz-barbell-red-hover));
  }