.principal-container {
  overflow-x: hidden;
}

.principal-div {
  position: relative;
}

.container-md,
.container-sm,
.container {
  padding: 0;
}

@media (min-width: 576px) and (max-width: 1439px) {

  .container-sm,
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1440px) and (max-width: 1919px) {

  .container-sm,
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 100%;
  }
}