.title-h2 {
    text-align: center;
    margin: 5rem 0 2rem 0;
    color: hsl(var(--clr-zgz-barbell-red));
}

.title-h3 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0rem 0rem 3rem 0;
}